@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>click here to <a asp-action="Login" asp-controller="LoginAccount">log in</a>.</p>
</div>